body {
    background-color: #c1d3e4;
}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.Caixa {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.Profile {
    width: 100%;
    height: 100%;
    border: 4px solid black;
    border-radius: 50%;
}

.logo {
    width: 6%;
    height: 6%;
}

.Lista {
    padding: 48px 0;
    display: flex;
    flex-direction: row;
    gap: 5em;
}

a {
    text-decoration: none;
    color: black;
}

.list {
    padding: 20px;
    background-color: inherit;
}

.list ul {
    list-style-type: none;
    margin-top: 10px;
}

.list li {
    margin-bottom: 5px;
    color: #666;
}

.Texto {
    padding: 40px;
    font-size: larger;
}